<div class="hero-unit">
	<h1>Bienvenue dans I Apero </h1>
	<p>
		bienvenue dans l'application
		<%= link_to "I Apero", "http//nicos.com" %>
	</p>
	<p>
		<%= link_to "sign up now!", "#" , class:"btn btn-info btn-large" %>
	</p>
</div>	